<h1><%= cupcake.name  %></h1>
<% if cupcake.image.present? %>
  <p><%= image_tag cupcake.image, height: 250 %></p>
  <% end%>
<p>
  <strong>Description:</strong>
  <%= cupcake.description %>
</p>
<p>
  <strong>Category:</strong>
  <%= cupcake.category.name %>
</p>
<% if show_details_link %>
  <p>
    <%= link_to 'View Cupcake', cupcake %>
  </p>
<% end %>