<div class="container">
  <div class="columns is-multiline is-mobile">
    <div class="column is-one-third is-centered"><br>
      <div class="tile">
        <div class="card">
        <div class="card-image">
          <% if show_details_link %>
            <%= paginate @cupcakes %><br>
          <% end %>
          <figure class="image is-320x240">
            <%= image_tag cupcake.image %>
          </figure>
        </div>
        <div class="card-content">
          <h2 class="title">
            <% if show_description %>
            <% if cupcake.image.present? %>
              <%= image_tag cupcake.image.thumb %>
            <% end%>
              <% end %>
            <br>
              <%= cupcake.name %>
          </h2>
          <p>
            <strong>Category:</strong>
            <%= cupcake.category.name %>
          </p><br>
          <% if show_description %>
            <strong>Description:</strong>
            <%= cupcake.description %>
            <br><br>
              <strong>Price:</strong>
              <%= number_to_currency cupcake.price %>
          <% end %>
          <footer class="card-footer">
            <% if show_details_link %>
              <div class="card-footer-item"><%= link_to 'View Cupcake', cupcake %></div>
            <% end %>
            <a href="#" class="card-footer-item">
              <%= form_tag order_items_index_path do %>
              <%= hidden_field_tag :cupcake_id, cupcake.id %>
                <%= number_field_tag :quantity, 1 %>
                <%= submit_tag "Add to Cart"%>
              <% end %>
            </a>
          </footer>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>