  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">Sweetie's Cupcakes</h1>
        <nav class="nav">
          <div class="nav-left">
            <div class="nav-item">
              <%= link_to 'Home', root_path %>
            </div>
            <div class="nav-item">
              <%= link_to 'About', about_page_path %>
            </div>
            <div class="nav-item">
              <div class="field">
                <div class="control">
                  <div class="select is-primary">
                    <select>
                      <option><%= link_to 'Chocolate', categories_path %></option>
                      <option><%= link_to 'Fruit', categories_path %></option>
                      <option><%= link_to 'Vanilla', categories_path %></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav-item">
              <%= form_tag(search_path, method: "get") do %>
                <%= label_tag(:q, "Search for:") %>
                <%= text_field_tag(:q) %>
                <span class="icon">
                  <%= submit_tag("Search") %></span>
              <% end %>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>
